.clear {clear: both; content: '.', display:none; width: 0; height: 0;}

ul li { list-style: none}
body {padding: 0; padding-top: 50px;margin:0; height: 100%; width: 100%; overflow: hidden;}
#nav { background: #eee; padding:4px 15px 4px 8px; margin: 0;margin-bottom: 3px;-webkit-box-shadow:1px 2px 1px 1px rgba(0, 0, 0, 0.2);}
#nav span { cursor: pointer;}

#leftside {overflow-y: auto; overflow-x: hidden; height: 800px;padding:19px;}
.activecvs {border-color: #0000ff;}
.activecvs .panel-body  { position: relative; overflow: hidden;}
#imgarea {width: 100%; height: 60px;}
#imgarea ul li { width: 40px; display: block; float: left;}
#imgarea ul li span {  text-align: center; font-size: 12px; height: 24px; overflow: hidden; width: 36px; display: block; }
#imgarea ul li img { display: block; width: 30px; height: 30px;}

#rightside { height:800px;   padding: 10px 0; overflow-y: auto; overflow-x: hidden; position: relative; font-size: 8px; border: 1px solid #e3e3e3;border-top: none;}

#rightside span { font-size: 10px;}
#rightside input { font-size: 10px;}
#rightsidehead p { display: inline-block; font-weight: normal; text-align: center; }
#rightsidehead > li {font-size: 13px; font-weight: bold;}
#rightsidehead > li:not(.active) a {
    background-color: #428bca;
    color: #fff;
}
#rightsidehead > li > a { height: 47px;line-height: 26px;}
#compnentindex  { padding: 10px 0 ; margin: 0; position: absolute; top: 0px; left: 0px; background: #fff; width: 100%; height: 100%; padding-left: 19px; padding-right: 19px; min-height: 600px;}
#compnentindex  li { width: 180px; display: block; padding: 0 10px; }
#compnentindex  li div:hover {background: #ddd;}
#compnentindex  li .selected {background: #ddd;}
#compnentindex  li span { display:inline-block; margin-left: 3px; height: 30px; text-align: center; line-height: 30px; font-size: 12px; }
#compnentindex  li img {float: left; width: 30px; height: 30px;}
#compnentindex  li b {float: left; text-align: center; line-height: 28px; font-size: 15px;  width: 30px; height: 30px; border: 1px solid #000; display: inline-block}
#compnentindex ol { display: block; width: 100%; margin-left: -50px;}
#compnentindex ol li div{ padding-left: 30px;}


#detailarea { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; display: none; background: #fff; padding-top: 10px; padding-left: 19px; padding-right: 19px; min-height: 600px;}
#detailarea ul {margin: 0; padding:0;}
#detailarea ul li{margin: 5px 0; padding: 0;}
#detailarea ul li b {margin: 0; padding: 0; font-size: 14px; display: inline-block; width: 80px; text-align: right;}
/*#detailarea ul li input {width: 120px;}*/
/*#detailarea ul li button {padding: 2px 5px;}*/
#detailarea ul li ul {margin: 2px 0; padding: 4px 0 0 30px;}
#detailarea ul li ul li {margin: 2px 0; padding: 0; height: 30px;}
#detailarea ul li ul li img{float: left; width: 100px; height: 100px;}
#detailarea ul li ul li span{ font-size: 12px; display: inline-block; height: 30px; line-height: 30px; width: 50px; float: left;}
#mediaElements {height: 160px;}
#mediaElements .selectedele { border-color: #0000ff;}
.lielements ul li { margin-right: 20px;}
#detailarea .input-group .span-description { width:84px; text-align: right;}
.panelarea { float: left; border-right: 1px solid #ffffff; padding:0 15px ; }
.singlearea  img{width: 28px; height: 28px; margin-left: 10px;  }
.singlearea { border-right: 1px solid #808080;  float: left;padding-right: 15px;}
.singlearea .dragText {padding:0; width:30px; margin-left:15px; }
.singlearea .dragText img{width: 100%; }


#activeArea { position: relative; padding-top:30px; padding-left:30px; overflow: hidden; }
.blankdiv {height: 30px; width:30px; border: 0px solid #0000ff ; margin: 0; position:absolute; top: 0; left: 0px; z-index: 21; background:#f5f5f5; opacity: 1;}
#xCoord { height: 30px; border: 0px solid #0000ff ; margin: 0; position:absolute; top: 0; left: 30px; }
#yCoord { width: 30px; border: 0px solid #0000ff; margin: 0; position:absolute; top: 30px; left: 0px; }
#cvsarea { position: relative; float: left; border: thin inset gray;  overflow: hidden; width: 100%; height: 8000px;}
#canvas { position: absolute; top: 0; left: 0; z-index: 1;    }
#topcanvas { position: absolute; top: 0; left: 0; z-index: 2  }
#bgcanvas { position: absolute; top: 0; left: 0; z-index:1 ;}
#coordcanvas { position: absolute; top: 0; left: 0; z-index:1 ;}
.dot {position: absolute; z-index:4; width:6px; height:6px; background:black;}
.movediv {position: absolute; z-index:3; padding: 0; margin: 0; line-height: 100%;overflow: hidden; table-layout:fixed; word-break: break-all;  }
textarea {position: absolute; border: 0px; z-index:5; margin:0; padding: 0; line-height: 100%;overflow: hidden; table-layout:fixed; word-break: break-all;}
#scrolldiv > .col-xs-2 {
    padding-right: 3px;
    padding-left: 3px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#main {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    border:1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#leftdiv {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    border:1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#rightdiv {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
    border:1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#leftnav {
    margin-left: -1px;
    margin-right: -1px;
    padding-top: 10px;
    background-color: #428bca;
    border-bottom:1px solid #357ebd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /*background: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));
    background: -moz-linear-gradient(top, #eee, #ddd);
    background: -ms-linear-gradient(#eeeeee 0%,#dddddd 100%);*/
}
#toolbar {
    margin-left:-1px;
    margin-right: -1px;
    margin-bottom:10px;
    padding-top: 7px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 8px;
    background-color: #428bca;
    /*background: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));
    background: -moz-linear-gradient(top, #eee, #ddd);
    background: -ms-linear-gradient(#eeeeee 0%,#dddddd 100%);  */
    border-bottom:1px solid #357ebd;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#toolbar .btn-primary {background: #0066cc;}
.input-group-addon {
    background-color: #fff;
}



/*.panelarea.selected { }*/