{% extends '../layout.html' %}


{% block style %}
<link href="/css/bootstrap-datetimepicker.css" rel="stylesheet" />

{% endblock style%}

{% block script %}
{% endblock script %}

{% block main %}

<script>
  var __slice = Array.prototype.slice;
  var __hasProp = Object.prototype.hasOwnProperty;
  var __bind = function(fn, me) {
    return function() {
      return fn.apply(me, arguments);
    };
  };
  var __extends = function(child, parent) {
    for (var key in parent) {
      if (__hasProp.call(parent, key)) child[key] = parent[key];
    }
    function ctor() {
      this.constructor = child;
    }
    ctor.prototype = parent.prototype;
    child.prototype = new ctor;
    child.__super__ = parent.prototype;
    return child;
  };
  var __indexOf = Array.prototype.indexOf ||
          function(item) {
            for (var i = 0, l = this.length; i < l; i++) {
              if (this[i] === item) return i;
            }
            return -1;
          };
  (function() {
    this.isSave = false;
    return window.onbeforeunload = function() {
      if (!isSave) {
        return '确认离开吗?未保存的数据将丢失';
      }
    };
  }).call(this);

</script>

<div id="contractEdit" value="{{id}}">
  <div class=" well well-sm fix-top-2">
    <div class="container fixed-width">
      <div class="col-xs-8 ">
        <button type="button" class="btn btn-default" id="save"><span class="glyphicon glyphicon-folder-close"></span>保存</button>
        <button type="button" class="btn btn-default gap" id="returnComfirmBtn" onclick="location.href = '/contract';"> 返回</button>
      </div>
    </div>
  </div>
  <div class="container fix-top-2-tablelist-default fixed-width">
    <div class="panel panel-default">
      <div class="panel-heading">
        <label>销售合同</label>
      </div>
      <div class="panel-body">
        <div class="col-xs-3">
          <label for="saleNoTxt">编号</label>
          <input type="text" class="form-control " id="saleNoTxt" placeholder="请输入编号"/>
        </div>
        <div class="col-xs-3" id="saleDateDiv" style="">
          <label for="saleDate">日期</label>
          <div class="input-group ">
            <input type="text" class="form-control" placeholder="日期" readonly="readonly" id="saleDate" onclick="datePick('#saleDate','#endDate',true)" onfocus="$(this).blur()"/>
            <span class="input-group-addon curpointer" onclick="clearDateTime('#saleDate')">
              <span class="glyphicon glyphicon-remove "></span>
            </span>

          </div>
        </div>
        <div class="col-xs-3">
          <label for="selectUser">人员</label>
          <select class="form-control" id="selectUser">
          </select>
        </div>
        <div class="col-xs-3">
          <label for="selectCustom">客户</label>
          <select class="form-control" id="selectCustom">
          </select>
        </div>
      </div>

      <div class="panel-body">
        <div class="col-xs-3">
          <label for="selectCurrency">币种</label>
          <select class="form-control" id="selectCurrency">
            <option value="CNY">人民币</option>
            <option value="USD">美元</option>
          </select>
        </div>
        <div class="col-xs-3">
          <label for="saleAmountTxt">合同金额</label>
          <input type="number" class="form-control " id="saleAmountTxt" placeholder="请输入金额"/>
        </div>
      </div>
      <div class="panel-body row">
        <div class="col-xs-12" style="padding-left: 30px;padding-right: 30px;">
          <label for="paymentTxt">结算方式</label>
          <textarea class="form-control" style="margin: 0px -238px 0px 0px; width: 940px; height: 54px; max-width: 940px; min-width: 940px" id="paymentTxt" placeholder="请输入结算方式"></textarea>
        </div>
      </div>
      <div class="panel-body row">
        <div class="col-xs-12 text-right" style="width: 980px;padding-left: 30px;padding-right: 30px;">
          <button type="button" class="btn btn-primary " id="createProductConfirmBtn" onclick="displayProduct()">增加产品</button>
        </div>
      </div>

      <div class="panel-body">
        <div class="b" id="productSetting" style="max-height:750px;overflow-y:auto">

        </div>

      </div>
    </div>
  </div>

  <div class="container fix-top-1-tablelist-default fixed-width">
    <div class="panel panel-default">
      <div class="panel-heading">
        <label>发货情况</label>
      </div>
      <div class="panel-body">
        <div class="b" id="logisticsSetting" style="max-height:750px;overflow-y:auto">

        </div>
        <div class="col-xs-12 text-right" style="">
          <button type="button" class="btn btn-primary " id="createLogisticsConfirmBtn" onclick="displayLogistics()">增加发货</button>
        </div>

      </div>

    </div>

    <div class="container fix-top-1-tablelist-default fixed-width"style="padding-left: 0px; padding-right: 30px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <label>财务情况</label>
        </div>

        <div class="panel-body">
          <div class="b" id="invoiceSetting" style="max-height:750px;overflow-y:auto">

          </div>
          <div class="col-xs-12 text-right" style="">
            <button type="button" class="btn btn-primary " id="createInvoiceConfirmBtn" onclick="displayInvoice()">增加发票</button>
          </div>

        </div>

        <div class="panel-body">
          <div class="col-xs-3">
            <label for="receivedTxt" style="padding-left: 13px;">已收款金额</label>
            <input type="number" class="form-control " id="receivedTxt" placeholder="请输入金额"/>
          </div>

          <div class="col-xs-3">
            <label for="balanceTxt" style="padding-left: 13px;">余额</label>
            <input type="number" class="form-control" readOnly="true" id="balanceTxt" placeholder="请输入金额"/>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

{% raw %}

<!--<script type="text/template" id="myAlerttemplate" style="display: none">-->

  <!--{{rowBoxes}}-->

<!--</script>-->

<script type="text/template" id="productSetting-template" style="display: none">

  <button type="button" class="close removeProductSetting">&times</button>
  <div class="panel-body">
    <div class="col-xs-2">
      <label for="selectCategory" style="padding-left: 13px;">类别</label>
      <select class="form-control" id="selectCategory" onchange="categoryChange()">
        {{=categoryOption}}
      </select>
    </div>
    <div class="col-xs-4">
      <label for="selectProduct" style="padding-left: 13px;">品名</label>
      <select class="form-control" id="selectProduct">
      </select>
    </div>
    <div class="col-xs-2">
      <label for="unitTxt" style="padding-left: 13px;">单位</label>
      <input type="text" class="form-control " id="unitTxt" placeholder="请输入单位"/>
    </div>
    <div class="col-xs-2">
      <label for="numberTxt" style="padding-left: 13px;">数量</label>
      <input type="number" class="form-control " id="numberTxt" placeholder="请输入数量"/>
    </div>
    <div class="col-xs-2">
      <label for="priceTxt" style="padding-left: 13px;">单价</label>
      <input type="number" class="form-control " id="priceTxt" placeholder="请输入单价"/>
    </div>

  </div>
</script>

<script type="text/template" id="logisSetting-template" style="display: none">

  <button type="button" class="close removeLogisSetting">&times</button>
  <div class="panel-body">

    <div class="col-xs-3" id="logisDateDiv" style="">
      <label for="logisDate" style="padding-left: 13px;">到货日期</label>
      <div class="input-group ">
        <input type="text" class="form-control" placeholder="到货日期" readonly="readonly" id="logisDate" onclick="datePick('#logisDate','#endDate',true)" onfocus="$(this).blur()"/>
          <span class="input-group-addon curpointer" onclick="clearDateTime('#logisDate')">
            <span class="glyphicon glyphicon-remove "></span>
          </span>

      </div>
    </div>
    <div class="col-xs-4">
      <label for="selectProductLogis" style="padding-left: 13px;">品名</label>
      <select class="form-control" id="selectProductLogis">
      </select>
    </div>
    <div class="col-xs-3">
      <label for="numberLogisTxt" style="padding-left: 13px;">数量</label>
      <input type="number" class="form-control " id="numberLogisTxt" placeholder="请输入数量"/>
    </div>
    <div class="col-xs-2">
      <label for="priceLogisTxt" style="padding-left: 13px;">实际单价</label>
      <input type="number" class="form-control " id="priceLogisTxt" placeholder="请输入实际单价"/>
    </div>

  </div>

  <div class="panel-body">
    <div class="col-xs-3">
      <label for="bgPriceTxt" style="padding-left: 13px;">报关单价</label>
      <input type="number" class="form-control " id="bgPriceTxt" placeholder="请输入报关单价"/>
    </div>
    <div class="col-xs-3">
      <label for="tariffRateTxt" style="padding-left: 13px;">进口关税税率</label>
      <input type="number" class="form-control " id="tariffRateTxt" placeholder="请输入税率"/>
    </div>
    <div class="col-xs-3">
      <label for="tariffTxt" style="padding-left: 13px;">进口关税（单价）</label>
      <input type="number" class="form-control " id="tariffTxt" placeholder="请输入关税"/>
    </div>
    <div class="col-xs-3">
      <label for="tariffSumTxt" style="padding-left: 13px;">进口关税小计</label>
      <input type="number" class="form-control " id="tariffSumTxt" placeholder=""/>
    </div>
  </div>

  <div class="panel-body">
    <div class="col-xs-4">
      <label for="saleTaxRateTxt" style="padding-left: 13px;">进口消费税税率</label>
      <input type="number" class="form-control " id="saleTaxRateTxt" placeholder="请输入消费税"/>
    </div>
    <div class="col-xs-4">
      <label for="saleTaxTxt" style="padding-left: 13px;">进口消费税（单价）</label>
      <input type="number" class="form-control " id="saleTaxTxt" placeholder="请输入消费税"/>
    </div>
    <div class="col-xs-4">
      <label for="saleTaxSumTxt" style="padding-left: 13px;">进口消费税小计</label>
      <input type="number" class="form-control " id="saleTaxSumTxt" placeholder=""/>
    </div>
  </div>

  <div class="panel-body">
    <div class="col-xs-3">
      <label for="VATRateTxt" style="padding-left: 13px;">增值税税率</label>
      <input type="number" class="form-control " id="VATRateTxt" placeholder="请输入增值税"/>
    </div>
    <div class="col-xs-3">
      <label for="VATTxt" style="padding-left: 13px;">增值税（单价）</label>
      <input type="number" class="form-control " id="VATTxt" placeholder="请输入增值税"/>
    </div>
    <div class="col-xs-3">
      <label for="VATSumTxt" style="padding-left: 13px;">增值税小计</label>
      <input type="number" class="form-control " id="VATSumTxt" placeholder=""/>
    </div>
    <div class="col-xs-3">
      <label for="costTxt" style="padding-left: 13px;">成本总计</label>
      <input type="number" class="form-control " id="costTxt" placeholder=""/>
    </div>
  </div>

</script>

<script type="text/template" id="invoice-template" style="display: none">

  <button type="button" class="close removeInvoice">&times</button>
  <div class="panel-body">
    <div class="col-xs-3" id="invoicingDateDiv" style="">
      <label for="invoicingDate">开票日期</label>
      <div class="input-group ">
        <input type="text" class="form-control" placeholder="开票日期" readonly="readonly" id="invoicingDate" onclick="datePick('#invoicingDate','#endDate',true)" onfocus="$(this).blur()"/>
            <span class="input-group-addon curpointer" onclick="clearDateTime('#invoicingDate')">
              <span class="glyphicon glyphicon-remove "></span>
            </span>

      </div>
    </div>

    <div class="col-xs-3">
      <label for="invoiceNoTxt" style="padding-left: 13px;">发票号</label>
      <input type="text" class="form-control " id="invoiceNoTxt" placeholder="请输入发票号"/>
    </div>

  </div>
</script>

{% endraw %}

{% endblock main%}

{% block lazyscript %}

<script src="/js/bootstrap-datetimepicker.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/js/custom/model/custom.js"></script>
<script src="/js/user/model/user.js"></script>
<script src="/js/category/model/category.js"></script>
<script src="/js/product/model/product.js"></script>
<script src="/js/gbvision.js"></script>
  <script src="/js/contract/model/datetime.js"></script>
  <script src="/js/contract/model/contract.js"></script>
<script src="/js/contract/model/logistics.js"></script>
<script src="/js/contract/view/edit.js"></script>


{% endblock lazyscript %}