{% extends '../layout.html' %}


{% block style %}
<link href="/css/bootstrap-datetimepicker.css" rel="stylesheet" />

{% endblock style%}

{% block script %}
{% endblock script %}

{% block main %}

<!--<script>-->
  <!--var __slice = Array.prototype.slice;-->
  <!--var __hasProp = Object.prototype.hasOwnProperty;-->
  <!--var __bind = function(fn, me) {-->
    <!--return function() {-->
      <!--return fn.apply(me, arguments);-->
    <!--};-->
  <!--};-->
  <!--var __extends = function(child, parent) {-->
    <!--for (var key in parent) {-->
      <!--if (__hasProp.call(parent, key)) child[key] = parent[key];-->
    <!--}-->
    <!--function ctor() {-->
      <!--this.constructor = child;-->
    <!--}-->
    <!--ctor.prototype = parent.prototype;-->
    <!--child.prototype = new ctor;-->
    <!--child.__super__ = parent.prototype;-->
    <!--return child;-->
  <!--};-->
  <!--var __indexOf = Array.prototype.indexOf ||-->
          <!--function(item) {-->
            <!--for (var i = 0, l = this.length; i < l; i++) {-->
              <!--if (this[i] === item) return i;-->
            <!--}-->
            <!--return -1;-->
          <!--};-->
  <!--(function() {-->
    <!--this.isSave = false;-->
    <!--return window.onbeforeunload = function() {-->
      <!--if (!isSave) {-->
        <!--return '确认离开吗?未保存的数据将丢失';-->
      <!--}-->
    <!--};-->
  <!--}).call(this);-->

<!--</script>-->
<div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="publishPage" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="h3-head" id="publishPage">排期发布</h4>
        <div class="col-xs-3 input-group pull-right searchPanel" style="position: absolute;top:18px;right: 80px;">
          <input type="text" class="form-control" id="schedulesearchInput" placeholder="请输入设备ID或名称" style="width: 150px;"/><span class="input-group-btn"><button type="submit" class="btn btn-default" id="searchBtn">搜索</button></span>
        </div>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <table id="group-list" class="table table-striped" style="table-layout:fixed;word-wrap:break-word;">
            <thead class="thead-color">
            <tr>
              <th>
                <span class="col-xs-1"><input type="checkbox"/></span>
                <div class="col-xs-9">
                  <span> 分组名</span>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="panel panel-default">
          <table id="box-list" class="table table-striped" style="table-layout:fixed;word-wrap:break-word;">
            <thead class="thead-color">
            <tr>
              <th class="col-xs-4  curpointer sortByName sortBy">
                <span class="col-xs-1"><input type="checkbox"/></span>
                <div class="col-xs-9">
                  <span class="">
                    设备名<b class="caret " sortcolname="name" style="display:none"></b>
                  </span>
                </div>
              </th>
              <th class="col-xs-3  curpointer sortByAlias sortBy">
                名称<b class="caret" sortcolname="playlist" style="display:none"></b>
              </th>
              <th class="col-xs-3  curpointer sortByIp sortBy">
                地址<b class="caret" sortcolname="playlist" style="display:none"></b>
              </th>
              <th class="col-xs-2  curpointer sortByOnline sortBy">
                在线状态<b class="caret" sortcolname="playlist" style="display:none"></b>
              </th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="col-xs-offset-9 diabtnfix ">
          <button type="button" class="btn btn-primary " id="publishBtn">确定</button>
          <button type="button" class="btn btn-default gap" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--警告弹框-->

<div class="modal fade" id="myAlert" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" style="color:red;"><strong>警告！</strong></h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="forcePublishBtn">强制发布</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<!--发布弹框-->

<div class="modal fade" id="confirmPublish" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div class="modal-body">
        <p>确认发布吗？</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="publishConfirmBtn">确定</button>
        <button type="button" class="btn btn-default" id="publishCloseBtn">取消</button>
      </div>
    </div>
  </div>
</div>



<div id="contrackEdit" value="{{id}}">
  <div class=" well well-sm fix-top-2">
    <div class="container fixed-width">
      <!--<div class="input-group col-xs-3 ">-->
        <!--<span class="input-group-addon" style="background-color: transparent;border:0">名称:</span><input type="text" class="form-control" id="name" placeholder="排期名称" style="width:200px;"/>-->
      <!--</div>-->
      <div class="col-xs-8 ">
        <button type="button" class="btn btn-default" id="save">
          <span class="glyphicon glyphicon-folder-close"></span>
          保存
        </button>
        <button type="button" class="btn btn-default gap" id="returnComfirmBtn" onclick="location.href = '/contract';"> 返回</button>
      </div>
    </div>
  </div>
  <div class="container fix-top-2-tablelist-default fixed-width">
    <div class="panel panel-default">
      <div class="panel-heading">
        <label>销售合同</label>
      </div>
      <div class="panel-body">
        <div class="col-xs-4">
          <label for="children">播放列表</label>
          <select class="form-control" id="children">
          </select>
        </div>
        <div class="col-xs-2">
          <label for="type">排期类型</label>
          <div id="type">
            <div class="radio">
              <input type="radio" name="optionsRadios" class="scheduleType" id="everyday" value="everyday" checked="true"/><label for="everyday">每天</label>
            </div>
            <div class="radio">
              <input type="radio" name="optionsRadios" class="scheduleType" id="everyweek" value="everyweek"/><label for="everyweek">每周</label>
            </div>
            <div class="radio">
              <input type="radio" name="optionsRadios" class="scheduleType" id="everymonth" value="everymonth"/><label for="everymonth">每月</label>
            </div>
            <div class="radio">
              <input type="radio" name="optionsRadios" class="scheduleType" id="once" value="once"/><label for="once">一次</label>
            </div>
          </div>
        </div>
        <div class="col-xs-6" id="detail">
          <label for="date">排期时间</label>
          <div class="row" id="month" style="display:none">
            <div class="input-group ">
              <span class="input-group-addon input-group-addon-format">每月:</span>
              <select class="form-control" id="selectMonthday">
                <option>请选择每月需要的日期</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
              </select>
            </div>
            <div class="row" id="monthDay">
            </div>
          </div>
          <div class="row" id="week" style="display:none">
            <div>
              <button class="btn btn-default gap weekday" onclick="weekday(this)" day="1">周一</button>
              <button class="btn btn-default gap weekday" onclick="weekday(this)" day="2">周二</button>
              <button class="btn btn-default gap weekday" onclick="weekday(this)" day="3">周三</button>
              <button class="btn btn-default gap weekday" onclick="weekday(this)" day="4">周四</button>
              <button class="btn btn-default gap weekday" onclick="weekday(this)" day="5">周五</button>
              <button class="btn btn-default gap weekday" onclick="weekday(this)" day="6">周六</button>
              <button class="btn btn-default gap weekday" onclick="weekday(this)" day="7">周日</button>
            </div>
          </div>
          <div class="row" id="date" style="display:none">
            <div class="input-group ">
              <span class="input-group-addon input-group-addon-format">日期:</span>
              <input type="text" class="form-control" placeholder="开始日期" readonly="readonly" id="startDate" onclick="datePick('#startDate','#endDate',true)" onfocus="$(this).blur()"/>
              <span class="input-group-addon curpointer" onclick="clearDateTime('#startDate')">
                <span class="glyphicon glyphicon-remove "></span>
              </span>
              <span class="input-group-addon input-group-addon-format">至</span>
              <input type="text" class="form-control " placeholder="结束日期" readonly="readonly" id="endDate" onclick="datePick('#endDate','#startDate',false)" onfocus="$(this).blur()"/>
              <span class="input-group-addon curpointer" onclick="clearDateTime('#endDate')">
                <span class="glyphicon glyphicon-remove "></span>
              </span>
            </div>
          </div>
          <br/>
          <div class="row" id="time">
            <div class="input-group ">
              <span class="input-group-addon input-group-addon-format">时间:</span>
              <input type="text" class="form-control" placeholder="开始时间" readonly="readonly" id="startTime" onclick="timePick('#startTime','#endTime',true)" onfocus="$(this).blur()" value="00:00:00" />
              <span class="input-group-addon curpointer" onclick="clearDateTime('#startTime')">
                <span class="glyphicon glyphicon-remove "></span>
              </span>
              <span class="input-group-addon input-group-addon-format">至</span>
              <input type="text" class="form-control " placeholder="结束时间" readonly="readonly" id="endTime" onclick="timePick('#endTime','#startTime',false)" onfocus="$(this).blur()" value="23:59:59"/>
              <span class="input-group-addon curpointer" onclick="clearDateTime('#endTime')">
                <span class="glyphicon glyphicon-remove "></span>
              </span>
            </div>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% raw %}

<script type="text/template" id="myAlerttemplate" style="display: none">

  {{rowBoxes}}

</script>

<script type="text/template" id="box-template" style="display: none">
  <td class="col-xs-3">
	<span class="col-xs-1 ">
	<input type="checkbox"  class="publishBox" value="{{id}}"/></span>
    <div>
      <span class="name displayName" title="{{name}}" style="width:100px;">{{name}}</span>
    </div>
  </td>
  <td class="col-xs-3">
    <span class="td-alias displayName">{{alias}}</span>
  </td>
  <td class="col-xs-3">
    {{ip}}
  </td>
  <td class="col-xs-3 text-center">
    <span class="{{online}}"></span>
  </td>
</script>

<script type="text/template" id="group-template" style="display: none">
  <td>
    <span class="col-xs-1"><input type="checkbox"   class="publishGroup" value="{{id}}"/></span>
    <div>
      <span class="name displayName" title="{{name}}">{{name}}</span>
    </div>
  </td>

</script>

<script type="text/template" id="monthDayItemTemplate" style="display:none">
  <div class="input-group col-xs-3 ">
    <input type="text" class="form-control" readonly="readonly" onfocus="$(this).blur()" value="{{name}}"/>
    <span class="input-group-addon curpointer ">
      <span class="glyphicon glyphicon-remove "></span>
    </span>
  </div>
</script>

<script type="text/javascript">
function today(){
    var today=new Date();
    var h=today.getFullYear();
    var m=today.getMonth()+1;
    if( m < 10){m = '0' + m;}
    var d=today.getDate();
    if( d < 10){d = '0' + d}
    var hour = today.getHours();
    if(hour < 10){hour = '0' + hour}
    var min = today.getMinutes();
    if(min < 10){min = '0' + min}
    var sec = today.getSeconds();
    if(sec < 10){sec = '0'+sec}
    return "播放列表"+h+m+d+hour+min+sec;

  }
</script>

{% endraw %}

{% endblock main%}

{% block lazyscript %}

<script src="/js/bootstrap-datetimepicker.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
<!--<script src="/js/playlist/model/playlist.js"></script>-->
<!--<script src="/js/schedule/model/schedule.js"></script>-->
<!--<script src="/js/box/model/box.js"></script>-->
<!--<script src="/js/box/model/group.js"></script>-->
<script src="/js/gbvision.js"></script>
<script src="/js/contract/view/publish.js"></script>
<!--<script src="/js/schedule/view/edit.js"></script>-->
<script src="/js/playlist/edit/model/datetime.js"></script>

{% endblock lazyscript %}