{% extends '../layout.html' %}


{% block style %}


{% endblock style%}

{% block script %}
{% endblock script %}

{% block main %}

<script>

  var __slice = Array.prototype.slice;
  var __hasProp = Object.prototype.hasOwnProperty;
  var __bind = function(fn, me) {
    return function() {
      return fn.apply(me, arguments);
    };
  };
  var __extends = function(child, parent) {
    for (var key in parent) {
      if (__hasProp.call(parent, key)) child[key] = parent[key];
    }
    function ctor() {
      this.constructor = child;
    }
    ctor.prototype = parent.prototype;
    child.prototype = new ctor;
    child.__super__ = parent.prototype;
    return child;
  };
  var __indexOf = Array.prototype.indexOf ||
          function(item) {
            for (var i = 0, l = this.length; i < l; i++) {
              if (this[i] === item) return i;
            }
            return -1;
          };
  (function() {}).call(this);

</script>
<div class="modal fade" id="deleteContractAlert" tabindex="-1" role="dialog" aria-labelledby="createContractLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="createContractLabel">警告</h4>
      </div>
      <div class="modal-body">
        <h4 class="col-xs-offset-1">请先选择您要删除的播放列表</h4>
        <div class="col-xs-offset-9 diabtnfix">
          <button type="button" class="btn btn-primary " data-dismiss="modal">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="well well-sm fix-top-2">
  <div class="container">
    <button type="button" class="btn btn-default" id="createBtn" onclick="window.location.href='/contract/create'"><span class="glyphicon glyphicon-new-window"></span> 新建</button><button type="button" class="btn btn-default gap" id="deleteBtn" onclick="delContracts()"><span class="glyphicon glyphicon-trash"></span> 删除</button>
    <div class="col-xs-3 input-group pull-right searchPanel">
      <input type="text" class="form-control" id="searchInput" placeholder="请输入合同编号" oninput="searchContracts()"/><span class="input-group-btn"><button type="submit" class="btn btn-default" id="searchBtn" onclick="searchContracts()">搜索</button></span>
    </div>
  </div>
</div>

<div class="container fix-top-2-tablelist-default">
  <h3 class="pageInfo"><img src="images/header.png" class="circlePic"/>&nbsp合同列表</h3>
  <div class="panel panel-default">
    <table class="table table-striped" style="table-layout:fixed;word-wrap:break-word;" id="contractArea">
      <thead class="thead-color">
      <tr>
        <th class="col-xs-4 curpointer sortByName sortBy">
          <span class="col-xs-1 "><input type="checkbox" id="chkAllItem"/></span>
          <div class="col-xs-4 " style="padding-left:0">
            <span class=""> 合同编号<b class="caret " sortcolname="name" style="display:none"></b></span>
          </div>
        </th>
        <th class="col-xs-2 curpointer sortByUser sortBy text-center">
          日期<b class="caret" sortcolname="date" style="display:none"></b>
        </th>
        <th class="col-xs-2 curpointer sortByUser sortBy text-center">
          经办人<b class="caret" sortcolname="user" style="display:none"></b>
        </th>
        <th class="col-xs-2 curpointer sortByUser sortBy text-center">
          客户<b class="caret" sortcolname="custom" style="display:none"></b>
        </th>
        <th class="col-xs-2 curpointer sortByStamp sortBy text-center">
          合同金额<b class="caret" sortcolname="total" style="display:none"></b>
        </th>
        <th class="col-xs-2 curpointer sortByStamp sortBy text-center">
          利润<b class="caret" sortcolname="total" style="display:none"></b>
        </th>
        <th class="col-xs-2 curpointer sortByStamp sortBy text-center">
          余款<b class="caret" sortcolname="total" style="display:none"></b>
        </th>
        <th class="col-xs-2 curpointer sortByStamp sortBy text-center">
          合同状态<b class="caret" sortcolname="status" style="display:none"></b>
        </th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

{% raw %}


<script type="text/template" id="tmplContract">

  <td>
    <span class="col-xs-1 "><input type="checkbox" value="{{id}}" class="chkContractItem"/></span>
    <div class="col-xs-10 ">
      <a href="/contract/edit?id={{id}}" class=" gap" title="编辑"><span  title="{{contract_no}}">{{contract_no}}</span></a>
    </div>
  </td>
  <td class="text-center">
    {{date}}
  </td>
  <td class="text-center">
    {{belong}}
  </td>
  <td class="text-center">
    {{custom}}
  </td>
  <td class="text-center">
    {{total}}
  </td>
  <td class="text-center">
    {{profit}}
  </td>
  <td class="text-center">
    {{balance}}
  </td>
  <td class="text-center">
    {{status}}
  </td>

</script>

{% endraw %}

{% endblock main%}

{% block lazyscript %}

<script src="/js/user/model/user.js"></script>
<script src="/js/custom/model/custom.js"></script>
<script src="/js/contract/model/contract.js"></script>
<script src="/js/contract/view/contract.js"></script>

{% endblock lazyscript %}