{% extends 'layout.html' %}


{% block style %}


{% endblock style%}

{% block script %}
{% endblock script %}

{% block main %}

<script>

  var __slice = Array.prototype.slice;
  var __hasProp = Object.prototype.hasOwnProperty;
  var __bind = function(fn, me) {
    return function() {
      return fn.apply(me, arguments);
    };
  };
  var __extends = function(child, parent) {
    for (var key in parent) {
      if (__hasProp.call(parent, key)) child[key] = parent[key];
    }
    function ctor() {
      this.constructor = child;
    }
    ctor.prototype = parent.prototype;
    child.prototype = new ctor;
    child.__super__ = parent.prototype;
    return child;
  };
  var __indexOf = Array.prototype.indexOf ||
          function(item) {
            for (var i = 0, l = this.length; i < l; i++) {
              if (this[i] === item) return i;
            }
            return -1;
          };
  (function() {}).call(this);

</script>

<div id="department">
  <!-- 新建-->
  <div class="modal fade" id="departmentCreate" tabindex="-1" role="dialog" aria-labelledby="departmentCreateLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="departmentCreateLabel">新建</h4>
        </div>
        <div class="modal-body">
          <div>
            <div class="row ">
              <div class="input-group col-xs-8 col-xs-offset-2">
                <span class="input-group-addon spanAlignFiX">名称:</span><input type="text" class="form-control" placeholder="设备ID" id="nameInputCreate"/>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="input-group col-xs-8 col-xs-offset-2">
                <span class="input-group-addon spanAlignFiX">描述:</span><input type="text" class="form-control" placeholder="名称" id="descInputCreate"/>
              </div>
            </div>
            <br/>
          </div>
          <div class="col-xs-offset-9 diabtnfix ">
            <button type="button" class="btn btn-primary " id="createDepartment">确定</button><button type="button" class="btn btn-default gap" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deletePlaylistAlert" tabindex="-1" role="dialog" aria-labelledby="createFolderLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="createFolderLabel">警告</h4>
        </div>
        <div class="modal-body">
          <h4 class="col-xs-offset-1">请先选择您要删除的播放列表</h4>
          <div class="col-xs-offset-9 diabtnfix">
            <button type="button" class="btn btn-primary " data-dismiss="modal">确定</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="well well-sm fix-top-2">
    <div class="container fixed-width">
      <button type="button" class="btn btn-default" id="createBtn">
        <span class="glyphicon glyphicon-new-window"></span>
        新建
      </button>
      <button type="button" class="btn btn-default gap" id="deleteBtn" onclick="delDepartment()">
        <span class="glyphicon glyphicon-trash"></span>
        删除
      </button>
      <div class="col-xs-3 input-group pull-right searchPanel">
        <input type="text" class="form-control" id="searchInput" placeholder="请输入播放列表名称" oninput="searchDepartments()"/><span class="input-group-btn"><button type="submit" class="btn btn-default" id="searchBtn" onclick="searchDepartments()">搜索</button></span>
      </div>
    </div>
  </div>

  <div class="container fix-top-2-tablelist-default fixed-width">
    <h3 class="pageInfo"><img src="images/header.png" class="circlePic"/>&nbsp部门列表</h3>
    <div class="panel panel-default">
      <table class="table table-striped" style="table-layout:fixed;word-wrap:break-word;" id="mediaArea">
        <thead class="thead-color">
        <tr>
          <th class="col-xs-5 curpointer sortByName sortBy" id="head">
            <span class="col-xs-1 "><input type="checkbox" id="chkAllItem"/></span>
            <div class="col-xs-4 " style="padding-left:0">
              <span> 名称<b class="caret " sortcolname="name" style="display:none"></b></span>
            </div>
          </th>
          <th class="col-xs-5 curpointer sortByUser sortBy text-center">
            描述<b class="caret" sortcolname="description" style="display:none"></b>
          </th>
          <!--<th class="col-xs-2 curpointer sortByUser sortBy text-center">-->
          <!--人员<b class="caret" sortcolname="username" style="display:none"></b>-->
          <!--</th>-->
          <!--<th class="col-xs-1 curpointer sortByStamp sortBy text-center">-->
          <!--修改时间<b class="caret" sortcolname="stamp" style="display:none"></b>-->
          <!--</th>-->
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% raw %}


<script type="text/template" id="tmplDepartment">

  <td>
    <span class="col-xs-1 "><input type="checkbox" value="{{id}}" class="chkMediaItem"/></span>
    <div class="col-xs-10 ">
      <span class="col-xs-100 playlistName displayName" title="{{name}}">{{name}}</span>
    </div>
    <div class="col-xs-3 playlistOper " style="display:none;text-align: right;">
      <a href="javascript:void(0)" class="tdEditItem gap" title="编辑"><span>编辑</span></a>
      <a href="javascript:void(0)" class="tdRemoveItem gap" title="删除"><span>删除</span></a>
    </div>
  </td>
  <td class="text-center">
    {{description}}
  </td>

</script>

{% endraw %}

{% endblock main%}

{% block lazyscript %}

<script src="/js/department/model/department.js"></script>
<script src="/js/department/view/department.js"></script>
<!--<script src="/js/user/model/user.js"></script>-->

{% endblock lazyscript %}