{% extends 'layout.html' %}


{% block style %}


{% endblock style%}

{% block script %}
{% endblock script %}

{% block main %}

<script>

  var __slice = Array.prototype.slice;
  var __hasProp = Object.prototype.hasOwnProperty;
  var __bind = function(fn, me) {
    return function() {
      return fn.apply(me, arguments);
    };
  };
  var __extends = function(child, parent) {
    for (var key in parent) {
      if (__hasProp.call(parent, key)) child[key] = parent[key];
    }
    function ctor() {
      this.constructor = child;
    }
    ctor.prototype = parent.prototype;
    child.prototype = new ctor;
    child.__super__ = parent.prototype;
    return child;
  };
  var __indexOf = Array.prototype.indexOf ||
          function(item) {
            for (var i = 0, l = this.length; i < l; i++) {
              if (this[i] === item) return i;
            }
            return -1;
          };
  (function() {}).call(this);

</script>

<div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="customPage" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="h3-head" id="customPage">选择客户</h4>
        <!--<div class="col-xs-3 input-group pull-right searchPanel" style="position: absolute;top:18px;right: 80px;">-->
          <!--<input type="text" class="form-control" id="schedulesearchInput" placeholder="请输入名称" style="width: 150px;"/><span class="input-group-btn"><button type="submit" class="btn btn-default" id="searchBtn">搜索</button></span>-->
        <!--</div>-->
      </div>
      <div class="modal-body">
        <!--<div class="panel panel-default">-->
          <!--<table id="group-list" class="table table-striped" style="table-layout:fixed;word-wrap:break-word;">-->
            <!--<thead class="thead-color">-->
            <!--<tr>-->
              <!--<th>-->
                <!--<span class="col-xs-1"><input type="checkbox"/></span>-->
                <!--<div class="col-xs-9">-->
                  <!--<span> 分组名</span>-->
                <!--</div>-->
              <!--</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--</tbody>-->
          <!--</table>-->
        <!--</div>-->
        <div class="panel panel-default">
          <table id="box-list" class="table table-striped" style="table-layout:fixed;word-wrap:break-word;">
            <thead class="thead-color">
            <tr>
              <th class="col-xs-4  curpointer sortByName sortBy">
                <span class="col-xs-1"><input type="checkbox"/></span>
                <div class="col-xs-9">
                  <span class="">
                    客户名称<b class="caret " sortcolname="name" style="display:none"></b>
                  </span>
                </div>
              </th>
              <th class="col-xs-3  curpointer sortByAlias sortBy">
                简介<b class="caret" sortcolname="playlist" style="display:none"></b>
              </th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="col-xs-offset-9 diabtnfix ">
          <button type="button" class="btn btn-primary " id="customBtn">确定</button>
          <button type="button" class="btn btn-default gap" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="category">

  <div class="modal fade" id="deleteCategoryAlert" tabindex="-1" role="dialog" aria-labelledby="createCategoryLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="createFolderLabel">警告</h4>
        </div>
        <div class="modal-body">
          <h4 class="col-xs-offset-1">请先选择您要删除的类别</h4>
          <div class="col-xs-offset-9 diabtnfix">
            <button type="button" class="btn btn-primary " data-dismiss="modal">确定</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container fix-top-2-tablelist-default">
    <div class="panel-body alert alert-info">
      <div class="col-xs-2" id="startDateDiv" >
        <label for="startDate" style="padding-left: 13px;">开始日期</label>
        <div class="input-group ">
          <input type="text" class="form-control" placeholder="开始日期" readonly="readonly" id="startDate" onclick="datePick('#startDate','',true)" onfocus="$(this).blur()"/>
              <span class="input-group-addon curpointer" onclick="clearDateTime('#startDate')">
                <span class="glyphicon glyphicon-remove "></span>
              </span>

        </div>
      </div>
      <div class="col-xs-2" id="endDateDiv" style="">
        <label for="endDate" style="padding-left: 13px;">结束日期</label>
        <div class="input-group ">
          <input type="text" class="form-control" placeholder="结束日期" readonly="readonly" id="endDate" onclick="datePick('#endDate','',true)" onfocus="$(this).blur()"/>
              <span class="input-group-addon curpointer" onclick="clearDateTime('#endDate')">
                <span class="glyphicon glyphicon-remove "></span>
              </span>

        </div>
      </div>
      <div class="col-xs-2">
        <label for="receivablesTxt" style="padding-left: 13px;">客户</label>
        <input type="text" class="form-control " id="receivablesTxt" onclick="showCustom()"/>
      </div>
      <div class="col-xs-2">
        <label for="totalReceivedTxt" style="padding-left: 13px;">业务员/业务组</label>
        <input type="text" class="form-control " id="totalReceivedTxt"/>
      </div>
      <div class="col-xs-2">
        <label for="totalReceivedTxt" style="padding-left: 13px;">产品</label>
        <input type="text" class="form-control " id="totalReceivedTxt"/>
      </div>

      <div class="col-xs-2 text-right" style="padding-top: 20px;">
        <button type="button" class="btn btn-primary " id="createLogisticsConfirmBtn" onclick="displayNewLogistics()">查询</button>
      </div>
    </div>
  </div>

  <div class="container fix-top-1-tablelist-default">
    <h3 class="pageInfo"><img src="images/header.png" class="circlePic"/>&nbsp汇总</h3>
    <div class="panel-body">

      <div class="col-xs-3">
        <label for="receivablesTxt" style="padding-left: 13px;">总销售额</label>
        <input type="number" class="form-control " readonly="true" id="receivablesTxt"/>
      </div>
      <div class="col-xs-3">
        <label for="totalReceivedTxt" style="padding-left: 13px;">利润总和</label>
        <input type="number" class="form-control " readonly="true" id="totalReceivedTxt"/>
      </div>
      <div class="col-xs-3">
        <label for="totalReceivedTxt" style="padding-left: 13px;">余款总和</label>
        <input type="number" class="form-control " readonly="true" id="totalReceivedTxt"/>
      </div>
    </div>
  </div>

  <div class="container fix-top-1-tablelist-default">
    <h3 class="pageInfo"><img src="images/header.png" class="circlePic"/>&nbsp产品列表</h3>
    <div class="panel panel-default">
      <table class="table table-striped" style="table-layout:fixed;word-wrap:break-word;" id="categoryArea">
        <thead class="thead-color">
        <tr>
          <th class="col-xs-5 curpointer sortByName sortBy" id="head">
            <div class="col-xs-4 " style="padding-left:0">
              <span> 产品名称<b class="caret " sortcolname="name" style="display:none"></b></span>
            </div>
          </th>
          <th class="col-xs-5 curpointer sortByDescription sortBy text-center">
            产品数量<b class="caret" sortcolname="description" style="display:none"></b>
          </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% raw %}


<script type="text/template" id="tmplCategory">

  <td>
    <div class="col-xs-10 ">
      <span class="col-xs-100 categoryName displayName" title="{{name}}">{{name}}</span>
    </div>
  </td>
  <td class="text-center">
    {{description}}
  </td>

</script>

<script type="text/template" id="custom-template" style="display: none">

  <td class="col-xs-3">
    <span class="col-xs-1 "><input class="customChoise" type="checkbox" value="{{id}}"/></span>
    <div>
      <span class="name displayName" title="{{name}}" style="width:100px;">{{name}}</span>
    </div>
  </td>
  <td class="col-xs-3">
    <span class="td-alias displayName " title="{{description}}">{{description}}</span>
  </td>
</script>
<!--<script type="text/template" id="group-template" style="display: none">-->

  <!--<td>-->
    <!--<span class="col-xs-1"><input class="publishGroup" type="checkbox" value="{{id}}"/></span>-->
    <!--<div>-->
      <!--<span class="name displayName" title="{{name}}">{{name}}</span>-->
    <!--</div>-->
  <!--</td>-->

<!--</script>-->

{% endraw %}

{% endblock main%}

{% block lazyscript %}

<script src="/js/bootstrap-datetimepicker.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/js/custom/model/custom.js"></script>
<script src="/js/user/model/user.js"></script>
<script src="/js/category/model/category.js"></script>
<script src="/js/product/model/product.js"></script>
<script src="/js/gbvision.js"></script>
<script src="/js/statistics/model/datetime.js"></script>
<script src="/js/statistics/model/statistics.js"></script>
<script src="/js/statistics/view/statistics.js"></script>

{% endblock lazyscript %}