{% extends 'layout.html' %}


{% block style %}


{% endblock style%}

{% block script %}
{% endblock script %}

{% block main %}

{% raw %}

<script type="text/template" id="groupSelect-template"></script>
<script type="text/template" id="timeSetting-template" style="display: none"></script>
<script type="text/template" id="group-template" style="display: none">
  <td>
    <span class="col-xs-1"><input type="checkbox" value="{{id}}" class="groupChk"/></span>
    <span class="col-xs-1"><input type="checkbox" value="{{id}}" class="groupChkSet"/></span>
    <div>
      <span class="name displayName" title="{{name}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</span>
    </div>
  </td>
  <td></td>
</script>


<script type="text/template" id="box-template">
  <td>
	<span class="col-xs-1">
	<input type="checkbox" value="{{id}}" class="boxChk"/>
    </span>
	<span class="col-xs-1">
	<input type="checkbox" value="{{id}}" class="boxChkSet"/>
    </span>
    <div class="col-xs-5">
      <span class="name displayName" title="{{name}}">&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</span>
    </div>
  </td>
  <td>
    <span class="name displayName" title="{{alias}}">{{alias}}</span>
  </td>

</script>

<div id="user">
  <div class="modal fade" id="modalBoxes" tabindex="-1" role="dialog" aria-labelledby="modalBoxesLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modalBoxesLabel">授权</h4>
        </div>
        <span style="margin-left: 24px;margin-bottom: -10px;">查看</span>  <span>设置</span>
        <div class="modal-body">
          <div>
            <div class="row">
              <div class="panel panel-default">
                  <table id="group-list" class="table table-striped" style="table-layout:fixed;word-wrap:break-word;">
                    <thead class="thead-color">
                    <tr>
                      <th>
                        <span class="col-xs-1"><input type="checkbox" id="allGroupView"/></span>
                        <span class="col-xs-1"><input type="checkbox" id="allGroupViewSet"/></span>
                        <div class="col-xs-8">
                          <span> 分组名</span>
                        </div>
                      </th>
                      <th class="col-xs-4">
                        <b class="caret" sortcolname="playlist" style="display:none"></b>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
              </div>
            </div>
            <div class="row " id="box">
              <div class="panel panel-default">
                <table class="table table-striped" style="table-layout:fixed;word-wrap:break-word;" id="box-list">
                  <thead class="thead-color">
                  <tr>
                    <th>
                      <span class="col-xs-1 "><input type="checkbox" id="allBoxes"/></span>
                      <span class="col-xs-1 "><input type="checkbox" id="allBoxesSet"/></span>
                      <div class="col-xs-6 ">
                        <span class=" col-xs-6"> 设备名<b class="caret " sortcolname="name" style="display:none"></b></span>
                      </div>
                    </th>
                    <th class="col-xs-4">
                      名称<b class="caret" sortcolname="playlist" style="display:none"></b>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
            <br/>
          </div>
          <div class="col-xs-offset-9 diabtnfix ">
            <button type="button" class="btn btn-primary " id="btnAuthorize">确定</button><button type="button" class="btn btn-default gap" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalPermission" tabindex="-1" role="dialog" aria-labelledby="modalPermissionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modalPermissionLabel">权限</h4>
        </div>
        <div class="modal-body">
          <div>
            <div class="row " id="boxpermission">
              <div class="panel panel-default">
                <table class="table table-striped" style="table-layout:fixed;word-wrap:break-word;" id="box-list-permission">
                  <thead class="thead-color">
                  <tr align="center">
                    <td class="col-xs-6" align="center">权限<b class="caret " sortcolname="name" style="display:none"></b>
                    </td>
                    <td class="col-xs-6" align="center">是/否<b class="caret" sortcolname="playlist" style="display:none"></b>
                    </td>
                  </tr>
                  </thead>
                  <tbody align="center">
                    <tr>
                      <td class="col-xs-6" align="center">查看和删除日志</td>
                      <td class="col-xs-6"><input type="checkbox" value="logPermission" class="boxChk_"/></td>
                    </tr>
                    <!--<tr>
                      <td class="col-xs-6">查看和编辑用户</td>
                      <td class="col-xs-6"><input type="checkbox" value="userPermission" class="boxChk_"/></td>
                    </tr>-->
                    <tr>
                      <td class="col-xs-6">查看和编辑设置</td>
                      <td class="col-xs-6"><input type="checkbox" value="setPermission" class="boxChk_"/></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br/>
          </div>
          <div class="col-xs-offset-9 diabtnfix ">
            <button type="button" class="btn btn-primary " id="btnPermission">确定</button><button type="button" class="btn btn-default gap" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/template" id="userTemplate" style="display:none">
    <td class="col-xs-4 ">
      <div class="dropdowm">
        <span class="col-xs-1">
          <input type="checkbox" value="{{id}}" class="chkUserItem"/></span>
        <span class="col-xs-10 sp-Username displayName" title="{{name}}">{{name}}</span>
        <span class="col-xs-6 userOper" style="display:none">
          <a href="javascript:void(0)" class="deleteUser " title="删除">删除</a>
          <a href="javascript:void(0)" class="resetPassword gap" title="重置密码">重置</a>
          <a href="javascript:void(0)" class="activateUser gap" title="激活">激活</a>
          <a href="javascript:void(0)" class="authorize gap" title="授权">授权</a>
          <a href="javascript:void(0)" class="permission gap" title="权限">权限</a>
        </span>
      </div>
    </td>
    <td class="col-xs-4">
      <div class="col-xs-12">
        <span class="userDescription displayName" title="{{description}}">{{description}}</span>
      </div>
    </td>

  </script>
  <div class="modal fade " id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="createUserModalLabel">创建用户</h4>
        </div>
        <div class="modal-body col-xs-offset-1">
          <form class="form-horizontal" id="password" style="margin-top: 10px">
            <h2 class="form-signin-heading"></h2>
            <div class="form-group">
              <label for="nameTxt" class="col-xs-3 control-label">用户名</label>
              <div class="col-xs-6">
                <input type="text" class="form-control " id="nameTxt" placeholder="请输入用户名"/>
              </div>
            </div>
            <div class="form-group">
              <label for="passwordTxt" class="col-xs-3 control-label">密码</label>
              <div class="col-xs-6">
                <input type="password" class="form-control " id="passwordTxt" placeholder="请输入密码"/>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmTxt" class="col-xs-3 control-label">确认密码</label>
              <div class="col-xs-6">
                <input type="password" class="form-control " id="confirmTxt" placeholder="请再次输入密码"/>
              </div>
            </div>
            <div class="form-group">
              <label for="txtDescription" class="col-xs-3 control-label">个人注释</label>
              <div class="col-xs-6">
                <textarea class="form-control" id="txtDescription" placeholder="请输入个人注释"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary col-xs-offset-6" id="btnCreateUser" type="button">创建用户</button><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="well well-sm fix-top-2">
    <div class="container fixed-width">
      <button type="button" id="btnShowCreateModal" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> 添加</button><button type="button" class="btn btn-default gap" id="deleteBtn"><span class="glyphicon glyphicon-trash"></span> 删除</button>
      <div class="col-xs-3 input-group pull-right searchPanel">
        <input type="text" class="form-control" id="searchInput" placeholder="请输入用户名"/><span class="input-group-btn"><button type="submit" class="btn btn-default" id="searchBtn">搜索</button></span>
      </div>
    </div>
  </div>
  <div class="container fix-top-2-tablelist-default fixed-width">
    <h3 class="pageInfo">
      <img src="images/header.png" class="circlePic"/>&nbsp用户
    </h3>
    <div class="panel panel-default">
      <table class="table table-striped" style="table-layout:fixed;word-wrap:break-word;" id="user-list">
        <thead class="thead-color">
        <tr>
          <th class="col-xs-4 sortByName sortBy" style="cursor:pointer">
            <div class="dropdowm">
              <span class="col-xs-1">
                <input type="checkbox" id="allUser"/>
              </span>
              <span class="">用户名<b class="caret " sortcolname="name" style="display:none"></b></span>
            </div>
          </th>
          <th class="col-xs-4" id="zlxx">
            个人注释
          </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endraw %}

{% endblock main%}

{% block lazyscript %}

<script src="/js/box/model/box.js"></script>
<script src="/js/box/model/group.js"></script>
<script src="/js/box/view/index.js"></script>
<script src="/js/user/model/user.js"></script>
<script src="/js/user/view/index.js"></script>
<script src="/js/md5.js"></script>

{% endblock lazyscript %}